
<h2>Список задач</h2>
<div id="filter">
    <button id="dellDone" onclick="dellDone()">Clear All done</button>
    <button id="dellAll" onclick="dellAll()">Clear All</button><br><br>
    <button id="showAll" onclick="showAll()">All</button>
    <button id="showDone" onclick="showDone()">Show done</button>
    <button id="showTodo" onclick="showTodo()">In progress</button><br><br>
</div>


<table id="table">
{{#each tasks}}
    <tr>
        <td><button onclick="del({{id}})">x</button></td>
        <td><button onclick="edit({{id}})">✎</button></td>
        <td><input type="checkbox" {{status}} onchange="done({{id}},'{{status}}')"></td>
        <td><input class="task-input" disabled type="text" size="50" value="{{task}}" name="{{id}}"></td>
    </tr>
    {{/each}}
</table>